<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">联系方式</h3>
    </div>
    <div class="panel-body">
        手机号：18533538210
    </div>
    <div class="panel-body">
        邮箱：hkwJsxl@gmail.com
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">文章分类</h3>
    </div>
    <div class="panel-body">
        {% for category in category_queryset %}
            <p>
                <a href="/{{ username }}/article/category/{{ category.pk }}">
                    {{ category.name }}({{ category.count_num }})
                </a>
            </p>
        {% endfor %}
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">文章标签</h3>
    </div>
    <div class="panel-body">
        {% for tag in tag_queryset %}
            <p>
                <a href="/{{ username }}/article/tag/{{ tag.pk }}">{{ tag.name }}({{ tag.count_num }})</a>
            </p>
        {% endfor %}
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">日期归档</h3>
    </div>
    <div class="panel-body">
        {% for date in date_queryset %}
            <p>
                <a href="/{{ username }}/article/date/{{ date.month|date:'Y-m' }}">
                    {{ date.month|date:'Y-m' }}({{ date.count_num }})
                </a>
            </p>
        {% endfor %}
    </div>
</div>